Package             Version
------------------- --------
blinker             1.9.0
branca              0.8.1
certifi             2025.7.9
charset-normalizer  3.4.2
click               8.1.8
colorama            0.4.6
fake-useragent      2.2.0
Flask               3.1.1
Flask-SQLAlchemy    3.1.1
Flask-WTF           1.2.2
folium              0.20.0
geographiclib       2.0
geopy               2.4.1
greenlet            3.2.3
idna                3.10
WTForms             3.2.1
xyzservices         2025.4.0
zipp                3.23.0
