{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post" class="filter">
        {{ form.csrf_token }}
        {{ form.select(id="#filter_list") }}
        {{ form.submit }}
    </form>
    <div class="interesting-places" id="places">
            {% for place in places %}
                <article class="place">
                   <a href="/place/{{ place.id }}" class="place-link">
                        <img src="{{ url_for('home.images', filename=place.image_filename) }}" alt="{{ place.name }}">
                        <h3 class="place-name">{{ place.name }}</h3>
                        {% if place.about|length > 100 %}
                        <p class="description">{{ place.about[:100] }}...</p>
                        {% else %}
                        <p class="description">{{ place.about }}</p>
                        {% endif %}
                        <div class="tags">
                            <div class="tag">{{ place.type_of_place }}</div>
                            {% set color = 'good' %}
                            {% if place.grade <= 2 %}
                                {% set color = 'bad' %}
                            {% endif %}
                            <div class="review {{ color }}">
                                <p>{{ place.grade }}</p>
                                <img src="../static/icons/star.png" alt="star">
                            </div>
                        </div>
                   </a>
                </article>
            {% endfor %}
    </div>
</main>

<footer>
    <a href="/review">
        <button>Не нашли то, что искали? Так довавьте!</button>
    </a>
</footer>
{% endblock %}