{% extends "base.html"%}

{% block content %}
    <main>
        <div class="start-title">
            <h1 class="hello">Добро пожаловать на сайт Сириус.Путеводитель</h1>
            <h3 class="our-aim">наша цель Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore maxime ex doloribus placeat in vitae repellat beatae numquam voluptates! Corporis consequatur ad repudiandae non accusantium laborum recusandae voluptate suscipit fugit.</h3>
        </div>
        <div class="interesting-places" id="places">
            <article class="place">
                <img src="../static/images/filler.jpg" alt="Заведение">
                <h3 class="place-name">name</h3>
                <p class="description">description</p>
                <div class="tags">
                    <div class="tag">кафе</div>
                    <div class="review good">
                        <p>5.0</p>
                        <img src="../static/icons/star.png" alt="star"></img>
                    </div>
                </div>
            </article>
            <article class="place">
                <img src="../static/images/filler.jpg" alt="Заведение">
                <h3 class="place-name">name</h3>
                <p class="description">description</p>
                <div class="tags">
                    <div class="tag">кафе</div>
                    <div class="review good">
                        <p>4.9</p>
                        <img src="../static/icons/star.png" alt="star"></img>
                    </div>
                </div>
            </article>
            <article class="place">
                <img src="../static/images/filler.jpg" alt="Заведение">
                <h3 class="place-name">name</h3>
                <p class="description">description</p>
                <div class="tags">
                    <div class="tag">кафе</div>
                    <div class="review bad">
                        <p>2.0</p>
                        <img src="../static/icons/star.png" alt="star"></img>
                    </div>
                </div>
            </article>
            <article class="place">
                <img src="../static/images/filler.jpg" alt="Заведение">
                <h3 class="place-name">name</h3>
                <p class="description">description</p>
                <div class="tags">
                    <div class="tag">кафе</div>
                    <div class="review bad">
                        <p>1.0</p>
                        <img src="../static/icons/star.png" alt="star"></img>
                    </div>
                </div>
            </article>
        </div>
        <!-- <div class="reviews">
            <div class="place-review"></div>
            <div class="place-review"></div>
            <div class="place-review"></div>
            <div class="place-review"></div>
        </div> -->

    </main>
{% endblock %}